<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome - {{ name }}!
  </h1>
  <ul>
    <li> {{ name }} {{ email }} {{ phone }}</li>
  </ul>
  <ul>
    <li *ngFor="let user of users; let i = index" (click)="toggleEdit(i)"> {{ user }} </li>
  </ul>
  
  <button (click)="toggleEdit()">Edit</button>
  
  <div *ngIf="isEdit">
    <form (submit)="updateUser(username.value)">
      <input type="text" #username value="{{ temp }}">
    </form>
  </div>
</div>

